body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    text-align: center;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  main {
    padding: 1rem;
  }
  
  .temples-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  figure {
    text-align: center;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  .hidden {
    display: none;
  }
  
  .open {
    display: block;
  }
  